Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,google-*,modernize-*,performance-*,portability-*,-bugprone-easily-swappable-parameters,-bugprone-macro-parentheses'
WarningsAsErrors: ''
FormatStyle: file
