name: Build single header

on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "LICENSE"
      - "README.md"

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -B build

      - name: Build single header
        run: cmake --build build --target single_header && mkdir dist && cp build/cplib.hpp dist/

      - name: Dump git commit SHA
        run: echo "${GITHUB_SHA}" > dist/git_commit_sha.txt
        shell: bash

      - name: Commit single-header-snapshot
        uses: nicholasgriffintn/github-branch-deployment-action@1.0.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
          BRANCH: single-header-snapshot
          FOLDER: ./dist
          MESSAGE: "build: ({sha}) {msg}"
