name: Run test
on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "LICENSE"
      - "README.md"
jobs:
  run-test:
    strategy:
      matrix:
        include:
          - c_compiler: "gcc-13"
            cxx_compiler: "g++-13"
            use_fmt: false
          - c_compiler: "gcc-14"
            cxx_compiler: "g++-14"
            use_fmt: false
          - c_compiler: "clang-16"
            cxx_compiler: "clang++-16"
            use_fmt: false
          - c_compiler: "clang-17"
            cxx_compiler: "clang++-17"
            use_fmt: false
          - c_compiler: "clang-18"
            cxx_compiler: "clang++-18"
            use_fmt: false
          - c_compiler: "gcc-12"
            cxx_compiler: "g++-12"
            use_fmt: true
          - c_compiler: "gcc-13"
            cxx_compiler: "g++-13"
            use_fmt: true
          - c_compiler: "gcc-14"
            cxx_compiler: "g++-14"
            use_fmt: true
          - c_compiler: "clang-16"
            cxx_compiler: "clang++-16"
            use_fmt: true
          - c_compiler: "clang-17"
            cxx_compiler: "clang++-17"
            use_fmt: true
          - c_compiler: "clang-18"
            cxx_compiler: "clang++-18"
            use_fmt: true
    name: Test ${{ matrix.cxx_compiler }}${{ matrix.use_fmt && ' (FMT)' || '' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Write FMT flag to compile_flags.txt
        if: ${{ matrix.use_fmt == true }}
        run: echo "-DCPLIB_USE_FMT_LIB" >> compile_flags.txt

      - name: Configure CMake
        run: |
          cmake -B build \
            -DCMAKE_C_COMPILER=${{ matrix.c_compiler }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.cxx_compiler }} \
            -DCPLIB_USE_FMT_LIB=${{ matrix.use_fmt && 'ON' || 'OFF' }}

      - name: Build project
        run: cmake --build build --parallel

      - name: Run tests with CTest
        run: ctest --test-dir build --output-on-failure --parallel
